.dota-anchor{
    padding-right: 75px;
    padding-left: 75px;
}

.valve-anchor{
    padding-right: 75px;
    padding-left: 75px;
}

.text {
    color: whitesmoke;
}

.site-footer{
    padding: 0.5em 0;
}