<!--<div *ngIf="hero">
    <h2>{{hero.localized_name | uppercase}} Details</h2>
    <div>id: {{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.localized_name" placeholder="name">
    </div>
</div> -->

<section clas="hero-details" style="background-attachment: fixed; background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg'); background-repeat: no-repeat; background-size: cover; padding: 0 0 50px 0; min-height: 100vh;">
  <div class="container">
    <div *ngIf="hero">
      <!--div class="row bg-image" style="background-image: url(https://api.opendota.com{{hero.img}}); height: 50vh;"></div-->
      <div class="row px-16 py-16 align-items-center justify-content-center">
        <div class="col-auto bg-blur-children d-flex justify-content-center">
          <div class="img-fluid profile-image">
            <img src="https://api.opendota.com{{hero.img}}">
          </div>
        </div>
        <div class="col-auto bg-blur-children">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <h3>{{hero.localized_name}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <ul class="role-ul m-0 p-0">
                <li><h6>{{hero.attack_type | uppercase}}&nbsp;-&nbsp;</h6></li>
                <li *ngFor="let role of hero.roles">
                  <div *ngIf="role === getLastRole()">
                    {{role}}
                  </div>
                  <div *ngIf="role !== getLastRole()">
                    {{role}},&nbsp;
                  </div>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="col-auto">
          <div class="row base-atris">
            <div class="col-lg-auto align-self-center d-flex justify-content-center" id="str">
              <ul>
                <li> {{hero.base_str}} + {{hero.str_gain}} </li>
              </ul>
            </div>
            <div class="col-lg-auto d-flex justify-content-center" id="agi">
              <ul>
                <li> {{hero.base_agi}} + {{hero.agi_gain}} </li>
              </ul>
            </div>
            <div class="col-lg-auto d-flex justify-content-center" id="int">
              <ul>
                <li> {{hero.base_int}} + {{hero.int_gain}} </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>
</section>