<!--<div *ngIf="hero">
    <h2>{{hero.localized_name | uppercase}} Details</h2>
    <div>id: {{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.localized_name" placeholder="name">
    </div>
</div> -->

<section clas="hero-details" style="background-attachment: fixed; background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg'); background-repeat: no-repeat; background-size: cover; padding: 50px 0; min-height: 100vh;">
  <div class="container d-flex flex-column flex-wrap">
      
  </div>
</section>